<% @movie["results"].each_with_index do |mov, nom| %>
	<p> <%= image_tag("https://image.tmdb.org/t/p/w185#{mov['poster_path']}")%><br>
	<%=link_to "#{mov['original_title']}", welcome_url(nom) %><br>
		<%= mov["overview"] %>
	</p>
<% end %>